@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: "Poppins", Arial, Helvetica, sans-serif;
    color: #fff;
    background-color: #22254b;
}
